@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');



html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* @font-face {
    font-family: "Gilroy";
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */

button {
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: black;
    font-family: 'El Messiri', sans-serif;
    background-image: url(../image/background2.jpg);
    background-size: cover;
    background-clip:border-box;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 150px 100px auto;
    margin-top: 200px;
    width: 1400px;
    border: 2px solid rgb(71 228 253);
}

.table-header {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 50px;
}

.add-btn {
    height: 100px;
    width: 100px;
    font-size: 60px;
    margin: 5px;
    background: none;
    transition: .2s ease-in-out all;
}

.add-btn:hover {
    background-color:#aceafa;
}

.filter-item {
    position: relative;
    height: 100px;
}

.filter-item input {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.sort-item {
    position: relative;
}

.sort-btn {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 20px;
    border: 2px solid rgb(71 228 253);
    background-color:  rgba(0, 0, 0, 0);
}

.numbers {
    grid-column-start: 1;
}

.table-body {
    min-height: 60px;
}

.window-edd {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    position: absolute;
    top: 150px;
    width: 800px;
    /* border: 1px solid black; */
    background: #aceafa;
    border-radius: 3px;
}

.input-names {
    grid-row-start: 3;
}

.input-faculty {
    grid-row-start: 5;
}

.input-birthday {
    grid-row-start: 7;
}

.input-study {
    grid-row-start: 9;
}

.btn-addStudent {
    grid-row-start: 11;
    width: 50px;
    height: 20px;
}

.btn-close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    border-radius: 50px;
    rotate: 45deg;
    font-size: 52px;
    transition: .2s ease-in-out all;
    /* box-shadow: 1px 1px 5px black; */
    /* box-shadow: none; */

}

.btn-close:hover {
    /* transform: scale(1.2); */
    box-shadow: 1px 1px 5px black;

}